.challenge-section {
  margin-top: 20px;
  display: flex;
}

.challenge-section aside {
  width: 280px;
  margin-right: 20px;
}

.challenge-prev-pos {
  font-size: 0.85rem;
}

.sidebar ul li {
  list-style: none;
  margin: 5px 0;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgba(var(--callout-rgb), 0.4);
  border: 1px solid rgba(var(--callout-rgb), 0.7);
  cursor: pointer;
  transition-property: background-color, border, padding;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.sidebar ul li:hover {
  background-color: rgba(var(--color-secondary-rgb), 0.1);
  border-color: rgba(var(--color-secondary-rgb), 0.3);
  padding-left: 15px;
}

@media (max-width: 768px) {
  .challenge-section {
    flex-direction: column;
  }

  .challenge-section aside {
    width: 100%;
    margin-right: 0;
  }

  .challenge-section aside + div {
    margin-top: 30px;
  }
}
